.elementor-617 .elementor-element.elementor-element-3609d85f {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-3609d85f.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-3609d85f.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-3609d85f.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-3609d85f.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-3609d85f.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-3609d85f.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-3609d85f.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-3609d85f .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-3609d85f .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-3609d85f>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-4219ea5 {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-4219ea5.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-4219ea5.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-4219ea5.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-4219ea5.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-4219ea5.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-4219ea5.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-4219ea5.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-4219ea5 .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-4219ea5 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-4219ea5>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-37daa477 {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-37daa477.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-37daa477.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-37daa477.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-37daa477.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-37daa477.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-37daa477.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-37daa477.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-37daa477 .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-37daa477 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-37daa477>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-526c0d2d.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-526c0d2d.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-526c0d2d>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-1b04b2f.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-1b04b2f.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-1b04b2f>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-16099e32 {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-16099e32.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-16099e32.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-16099e32.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-16099e32.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-16099e32.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-16099e32.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-16099e32.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-16099e32 .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-16099e32 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-16099e32>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36 {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-4bf5ba36.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-4bf5ba36.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36 .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-4bf5ba36>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-3dee0b6b.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-3dee0b6b.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-3dee0b6b>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80 {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-2a7c6e80.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-2a7c6e80.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80 .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-2a7c6e80>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-dc1ca5f.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-dc1ca5f.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-dc1ca5f>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-61111348 {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-61111348.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-61111348.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-61111348.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-61111348.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-61111348.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-61111348.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-61111348.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-61111348 .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-61111348 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-61111348>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-665e270f {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-665e270f.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-665e270f.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-665e270f.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-665e270f.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-665e270f.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-665e270f.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-665e270f.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-665e270f .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-665e270f .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-665e270f>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-617 .elementor-element.elementor-element-24e3a857 {
    --icon-box-icon-margin: 15px;
}

.elementor-617 .elementor-element.elementor-element-24e3a857.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-24e3a857.elementor-view-framed .elementor-icon,
.elementor-617 .elementor-element.elementor-element-24e3a857.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-617 .elementor-element.elementor-element-24e3a857.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-617 .elementor-element.elementor-element-24e3a857.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-24e3a857.elementor-view-framed .elementor-icon:hover,
.elementor-617 .elementor-element.elementor-element-24e3a857.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-24e3a857 .elementor-icon {
    font-size: 30px;
}

.elementor-617 .elementor-element.elementor-element-24e3a857 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-617 .elementor-element.elementor-element-24e3a857>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}