.elementor-623 .elementor-element.elementor-element-9bb0cee {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-9bb0cee.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-9bb0cee.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-9bb0cee.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-9bb0cee.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-9bb0cee.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-9bb0cee.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-9bb0cee.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-9bb0cee .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-9bb0cee .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-9bb0cee>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-40fa7229 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-40fa7229.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-40fa7229.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-40fa7229.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-40fa7229.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-40fa7229.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-40fa7229.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-40fa7229.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-40fa7229 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-40fa7229 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-40fa7229>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-15ca6731 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-15ca6731.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-15ca6731.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-15ca6731.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-15ca6731.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-15ca6731.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-15ca6731.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-15ca6731.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-15ca6731 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-15ca6731 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-15ca6731>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-37308c36 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-37308c36.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-37308c36.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-37308c36.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-37308c36.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-37308c36.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-37308c36.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-37308c36.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-37308c36 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-37308c36 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-37308c36>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-57d182c7 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-57d182c7.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-57d182c7.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-57d182c7.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-57d182c7.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-57d182c7.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-57d182c7.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-57d182c7.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-57d182c7 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-57d182c7 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-57d182c7>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-29cbf96f.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-29cbf96f.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-29cbf96f>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-31119368 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-31119368.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-31119368.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-31119368.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-31119368.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-31119368.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-31119368.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-31119368.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-31119368 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-31119368 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-31119368>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-2df99ee0.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-2df99ee0.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-2df99ee0>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-5acae658 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-5acae658.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-5acae658.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-5acae658.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-5acae658.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-5acae658.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-5acae658.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-5acae658.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-5acae658 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-5acae658 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-5acae658>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-6f77e708 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-6f77e708.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-6f77e708.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-6f77e708.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-6f77e708.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-6f77e708.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-6f77e708.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-6f77e708.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-6f77e708 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-6f77e708 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-6f77e708>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-2a7015ad.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-2a7015ad.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-2a7015ad>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-56d16493 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-56d16493.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-56d16493.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-56d16493.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-56d16493.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-56d16493.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-56d16493.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-56d16493.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-56d16493 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-56d16493 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-56d16493>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-623 .elementor-element.elementor-element-49f71e25 {
    --icon-box-icon-margin: 15px;
}

.elementor-623 .elementor-element.elementor-element-49f71e25.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-49f71e25.elementor-view-framed .elementor-icon,
.elementor-623 .elementor-element.elementor-element-49f71e25.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-623 .elementor-element.elementor-element-49f71e25.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-623 .elementor-element.elementor-element-49f71e25.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-49f71e25.elementor-view-framed .elementor-icon:hover,
.elementor-623 .elementor-element.elementor-element-49f71e25.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-49f71e25 .elementor-icon {
    font-size: 30px;
}

.elementor-623 .elementor-element.elementor-element-49f71e25 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-623 .elementor-element.elementor-element-49f71e25>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}