.elementor-637 .elementor-element.elementor-element-780c870 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-780c870.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-780c870.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-780c870.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-780c870.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-780c870.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-780c870.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-780c870.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-780c870 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-780c870 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-780c870>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-1103a857 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-1103a857.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-1103a857.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-1103a857.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-1103a857.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-1103a857.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1103a857.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-1103a857.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1103a857 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-1103a857 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1103a857>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-78c40ff0.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-78c40ff0.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-78c40ff0>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-43e487e7 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-43e487e7.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-43e487e7.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-43e487e7.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-43e487e7.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-43e487e7.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-43e487e7.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-43e487e7.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-43e487e7 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-43e487e7 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-43e487e7>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-5fa21d5.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-5fa21d5.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5fa21d5>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-b906eec {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-b906eec.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-b906eec.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-b906eec.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-b906eec.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-b906eec.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-b906eec.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-b906eec.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-b906eec .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-b906eec .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-b906eec>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-548dca43 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-548dca43.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-548dca43.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-548dca43.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-548dca43.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-548dca43.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-548dca43.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-548dca43.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-548dca43 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-548dca43 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-548dca43>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-7324ce5 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-7324ce5.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-7324ce5.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-7324ce5.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-7324ce5.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-7324ce5.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-7324ce5.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-7324ce5.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-7324ce5 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-7324ce5 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-7324ce5>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-6ecf2067.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-6ecf2067.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-6ecf2067>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-4d7f3e7c.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-4d7f3e7c.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-4d7f3e7c>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-5245eb8b.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-5245eb8b.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5245eb8b>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-2110fb39 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-2110fb39.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-2110fb39.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-2110fb39.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-2110fb39.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-2110fb39.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-2110fb39.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-2110fb39.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-2110fb39 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-2110fb39 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-2110fb39>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-3537f73d {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-3537f73d.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-3537f73d.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-3537f73d.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-3537f73d.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-3537f73d.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-3537f73d.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-3537f73d.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-3537f73d .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-3537f73d .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-3537f73d>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-505e9eb0.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-505e9eb0.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-505e9eb0>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-1b88eb1e.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-1b88eb1e.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1b88eb1e>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-1d013d6c.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-1d013d6c.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1d013d6c>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-1fb3bb7b.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-1fb3bb7b.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-1fb3bb7b>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-331ed6da {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-331ed6da.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-331ed6da.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-331ed6da.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-331ed6da.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-331ed6da.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-331ed6da.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-331ed6da.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-331ed6da .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-331ed6da .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-331ed6da>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}

.elementor-637 .elementor-element.elementor-element-5565c265 {
    --icon-box-icon-margin: 15px;
}

.elementor-637 .elementor-element.elementor-element-5565c265.elementor-view-stacked .elementor-icon {
    background-color: #1E73BE;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-5565c265.elementor-view-framed .elementor-icon,
.elementor-637 .elementor-element.elementor-element-5565c265.elementor-view-default .elementor-icon {
    fill: #1E73BE;
    color: #1E73BE;
    border-color: #1E73BE;
}

.elementor-637 .elementor-element.elementor-element-5565c265.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-637 .elementor-element.elementor-element-5565c265.elementor-view-stacked .elementor-icon:hover {
    background-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5565c265.elementor-view-framed .elementor-icon:hover,
.elementor-637 .elementor-element.elementor-element-5565c265.elementor-view-default .elementor-icon:hover {
    fill: #035A9E;
    color: #035A9E;
    border-color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5565c265 .elementor-icon {
    font-size: 30px;
}

.elementor-637 .elementor-element.elementor-element-5565c265 .elementor-icon-box-title {
    color: #035A9E;
}

.elementor-637 .elementor-element.elementor-element-5565c265>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: dashed;
    border-width: 0px 0px 1px 0px;
    border-color: #3A3A3A;
}